@font-face {
  font-family: "anticon"; /* Project id 2369500 */
  src: url('iconfont.woff2?t=1649920180887') format('woff2'),
       url('iconfont.woff?t=1649920180887') format('woff'),
       url('iconfont.ttf?t=1649920180887') format('truetype');
}

.anticon {
  font-family: "anticon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.self-codelibrary-outlined:before {
  content: "\e64a";
}

.self-addteam-outlined:before {
  content: "\e649";
}

.self-work:before {
  content: "\e648";
}

.self-shanchubeifen:before {
  content: "\e617";
}

.self-shanchubeifen2:before {
  content: "\e618";
}

.self-bianzu7beifen:before {
  content: "\e616";
}

.self-icon-sel:before {
  content: "\e615";
}

.self-bianzu7beifen2:before {
  content: "\e614";
}

.self-folder:before {
  content: "\e611";
}

.self-image:before {
  content: "\e612";
}

.self-xingzhuang:before {
  content: "\e613";
}

.self-download:before {
  content: "\e60e";
}

.self-save:before {
  content: "\e60f";
}

.self-gongjulan_huifu:before {
  content: "\e610";
}

.self-fuwuhao:before {
  content: "\e60a";
}

.self-xingzhuangjiehe:before {
  content: "\e60d";
}

.self-shouye:before {
  content: "\e608";
}

.self-Materials:before {
  content: "\e609";
}

.self-guanli:before {
  content: "\e60b";
}

.self-Settings:before {
  content: "\e60c";
}

.self-shichang:before {
  content: "\e607";
}

.self-dingjiajihua:before {
  content: "\e605";
}

.self-chanpin:before {
  content: "\e606";
}

.self-earth:before {
  content: "\e604";
}

.self-approval:before {
  content: "\e600";
}

.self-configuration:before {
  content: "\e601";
}

.self-miniprogram:before {
  content: "\e602";
}

.self-whitelist:before {
  content: "\e603";
}

